* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Oxygen,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #f4f2ee;
  color: #5f6163;
}
input,
button,
textarea {
  border: none;
}
a {
  text-decoration: none;
  color: #0a66c2;
}
.header {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
.header__avatar-wrapper {
  width: 50px;
  height: 60%;
}
.header__avatar-img {
  max-height: 100%;
  display: block;
  justify-self: center;
}
.header__search-wrapper {
  width: calc(100% - 100px);
  height: 60%;
  background-color: #edf3f8;
  display: flex;
  align-items: center;
}
.header__magnifier {
  margin-left: 10px;
  max-height: 60%;
}
.header__input {
  background-color: transparent;
  outline: none;
  flex: 1;
  height: 60%;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 4px;
}
.header__message-notification-wrapper {
  width: 50px;
  height: 60%;
  position: relative;
}
.header__message-notification-img {
  max-height: 100%;
  display: block;
  justify-self: center;
}
.header_message-notification-bubble {
  max-height: 20px;
  position: absolute;
  top: 0;
  right: 2px;
  display: inline-block;
  border-radius: 50%;
  border: double 1px white;
}
.summary__background-wrapper {
  position: relative;
  background-color: white;
}
.summary__background-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.summary__background-setting-btn {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 30%;
  margin: 20px;
}
.summary__actions {
  height: 50px;
  background-color: white;
  padding: 0 10px;
  display: flex;
}
.summary__actions-left {
  width: 100px;
  position: relative;
}
.summary__actions-avatar-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  bottom: 0;
  border: double 2px #5f6163;
  border-radius: 50%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.summary__actions-avatar-img {
  width: 50px;
}
.summary__actions-avatar-text {
  font-size: 0.8em;
}
.summary__actions-right {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 80px;
  align-items: end;
}
.summary__actions-right-img {
  width: 25px;
  height: 25px;
}
.summary__profile-info {
  background-color: white;
  padding: 30px 10px;
}
.summary__about {
  background-color: white;
  padding: 20px 10px;
  margin-top: 10px;
}
.summary__about-title {
  display: flex;
}
.summary__about-img {
  width: 25px;
  height: 25px;
  margin-left: auto;
}
.summary__about-content {
  padding-top: 10px;
}
.dot::before {
  content: "\00b7\00a0";
}

.featured {
  background-color: white;
  padding: 20px 10px;
  margin-top: 10px;
}
.featured__content {
  padding-top: 10px;
}
.featured__add-featured {
  display: inline-block;
  padding-top: 20px;
}
.featured__add-featured::before {
  content: "";
  background-image: url(./images/icons8-plus-100.png);
  background-size: 100%;
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 5px;
}
